<header>
	  <div class="collapse bg-dark" id="navbarHeader">
	    <div class="container">
	      <div class="row">
	        <div class="col-sm-8 col-md-7 py-4">
	          <h4 class="text-white">About these pages</h4>
	          <p class="text-muted">By using the buttons below, you can navigate to an overview of all the course types we provide as well as a detailed list of all courses as well as some information about our tutors. If you wish to book a course with us, just click on its photo to be taken to the detailed view where you can book from.</p>
	        </div>
	        <div class="col-sm-4 offset-md-1 py-4">
	          <h4 class="text-white">Explore</h4>
	          <ul class="list-unstyled">
	            <%= nav_helper 'text-white', 'li' %>
				<li><%= login_helper 'text-white' %></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="navbar navbar-dark bg-dark shadow-sm">
    	<div class="container d-flex justify-content-between">
      		<a href="#" class="navbar-brand d-flex align-items-center">
        	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        	<strong>Vivace</strong>
      		</a>
      		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        	<span class="navbar-toggler-icon"></span>
      		</button>
    	</div>
  	</div>
</header>
