<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Our Services</h1>
      <p class="lead text-muted">Music learning courses for every level and (almost) every instrument facilitated by experienced tutors in a relaxed but professional setting</p>
      <p>
        <%=link_to 'Course Types', categories_path, class: 'btn btn-primary' %>
        <%=link_to 'Our Tutors', tutors_path, class: 'btn btn-secondary' %>
      </p>
    </div>
</section>